html {
    font-family: Courier New, Courier, monospace;
    background: #7B087E;
    color: white;
}

a {
    color: #fff;
}

.width {
    width: 70%;
    height: 70%;
}

.logo {
    background: url(/images/logo.png) center no-repeat;
    background-size: contain;
}

.hint {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
}

.centered {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
}

.middle-cell {
    display: table-cell;
    vertical-align: middle;
}

.dropzone {
    border-style: dashed;
    display: table;
    border-color: white;
    background: #7B087E;
}

.dz-message {
    width: 100%;
    height: 100%;
}

#qr-code-wrapper {
    display: none;
    text-align: center;
    border: 2px solid white;
    border-style: dashed;
}

#stores-container {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.store-logo {
    width: 200px;
}
