<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/main.css" rel="stylesheet">
    </head>
    <body>
        <h1>Privacy</h1>
        <p>Prelottie needs access to your camera in order to capture the QR code. That's it. Google Play made me write this.</p>
    </body>
</html>